<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated concl -->
      <package
            uri="http://www.example.org/concl"
            class="nl.tue.glt.metamodel.concl.ConclPackage"
            genModel="model/concl.genmodel"/>
   </extension>

</plugin>
